<style type="text/css"><!--
body {background-image: url(couch.jpg); background-position:20 20; background-repeat:no-repeat; background-attachment:fixed}
BODY
{
scrollbar-face-color : #ffffff; 
scrollbar-highlight-color : #ffffff; 
scrollbar-3dlight-color : #ffffff; 
scrollbar-shadow-color : #ffffff; 
scrollbar-darkshadow-color : #ffffff;
scrollbar-track-color : #ffffff; 
scrollbar-arrow-color : #000000;
}

.title {position:absolute;left:390px;top:143px;color:#EF550F;font-family:Verdana,Arial,Helvetica;font-size:20px;font-weight:bold}

.title2 {position:absolute;left:370px;top:134px;color:#FFC5AB;font-family:Verdana,Arial,Helvetica;font-size:34px;font-weight:bold;font-style:italic}

.slogan {position:absolute;left:400px;top:163px;color:#C21602;font-family:Verdana,Arial,Helvetica;font-size:10px;font-weight:bold}

.menu {position:absolute;left:630px;top:30px;width:120px;height:250px;overflow:auto;font-family:"courier new",verdana,arial:font-size:12px;}

.main {position:absolute;left:155px;top:140px;width:470px;height:280px;overflow:auto;font-family:Verdana,Arial,Helvetica;font-size:11px; font-color:#000000;padding-right:5px;}

.main2 {font-family: verdana, arial, helvetica; font-size: 11px; font-color: #032F4A;; color: #006699}

.credit {position:absolute;left:105px;top:322px}

u {color: #000000}

a {font-family:Verdana,Arial,Helvetica;font-size:11px;font-weight:bold;color:#EF550F}

a:hover {color:#C21602}

--></style>.normal {  font-family: verdana, arial, helvetica; font-size: 11px; color: #000000}
